/.cproject
/.project
/.pydevproject
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/icat.so
/install_manifest.txt
/autodoc
/Doxyerror.log
/otawa-icat.kdev4
/.kdev4/
/otawa-icat.tag
/test/arm-so.tar.gz
/test/arm-so/
/test/otawa-icat.tgz
/test/ref/
